/* CSS FOR BREADSTICKS */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  border: 10px dotted black;
  padding: 10px;
}

/* this is a temporary border for the page header so I can see where the container is */
#chicken-breadsticks {
  width: auto;
  height: auto;
  border: 8px solid purple;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* the code below allows the pictures to shrink/expand as you minimize/maximize screen size */
img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.container-one {
  background-color: azure;
  border-radius: 10px;
  max-width: 500px;
  max-height: 200px;
  margin: 0 auto;

  /* display: flex;
  flex-direction: column; */
}
/*! removed flex property above and used position property to put description on top of img*/

.image {
  z-index: 1;
  position: relative;
}

.description {
  position: relative;
  top: -50px;
  left: 15px;
  z-index: 2;
  border: 5px solid beige;
  border-radius: 10px;
  background-color: rgb(247, 247, 225, 0.4);
  max-width: 15em;
  display: flex;
  transform: rotate(-20deg);
}

.container-two {
  outline: 5px solid hotpink;
  gap: 1em;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  /* I adjusted the 3 properties below to fit according to my web design */
  margin-bottom: 10px;
  margin-top: 30px;
  padding-left: 5px;
}

.container-two > :first-child {
  flex-basis: 500px;
  flex-grow: 1;
}

.container-two > :last-child {
  flex-basis: 200px;
  flex-grow: 1;
}

.nutrition {
  text-align: center;
}

.footer {
  border: 5px double beige;
  text-align: center;
  background-color: azure;
  border-radius: 10px;
}

.ul-breadsticks-last {
  display: flex;
  list-style: none;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
/* THESE CODES ARE AFFECTING ALL RECIPE PAGES BUTTONS AND RETURN TO PAGE MESSAGES*/
#breadsticks-buttons,
.bombs-button-text,
.meatballs-button-text,
.parmesan-button-text {
  color: black;
  font-size: 20px;
}

.return {
  text-align: center;
}

.breadsticks-clickhere-button,
.bombs-clickhere-button,
.meatballs-clickhere-button,
.parmesan-clickhere-button {
  background-color: #ff0000;
}

/*! END CSS FOR BREADSTICKS */

/* CSS START FOR BOMBS PAGE */

/* Header */
.bombs-header {
  text-align: center;
}
/* Container One */
.container-one-bombs {
  gap: 1em;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  /* I adjusted the 3 properties below to fit according to my web design */
  margin-bottom: 10px;
  margin-top: 30px;
  padding-left: 5px;
}

.container-one-bombs > :first-child {
  flex-basis: 500px;
  flex-grow: 1;
}

.container-one-bombs > :last-child {
  flex-basis: 200px;
  flex-grow: 1;
}

.header-description {
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 5px solid black;
}
/* Container Two */
.container-two-bombs {
  background-color: azure;
  border-radius: 5px;
  list-style-position: inside;
}
/*! END CSS FOR BOMBS PAGE */

/*CSS START FOR MEATBALLS PAGE*/

/*CONTAINER ONE*/
.container-one-meatballs,
.nutrition-meatballs {
  text-align: center;
  padding-top: 15px;
}

h1 {
  border: 5px solid black;
  display: flex;
  justify-content: center;
  transform: rotate(-15deg);
  margin: auto auto;
  max-width: 5em;
  background-color: white;
}
.header-description-meatballs {
  padding-top: 15px;
  font-weight: bold;
}

/*CONTAINER TWO*/

.container-two-meatballs,
.footer-meatballs {
  background-color: white;
  border-radius: 5px;
}
/*! END CSS FOR MEATBALLS PAGE */

/*! this is the code I had before which is temporarily deactivated while I try other stuff out */

/* #chicken-breadsticks,
#chicken-bombs,
#chicken-meatballs,
#parmesan-chicken{
    background-color:lightgray;
    text-align: center;
 
}

.unordered-list-breadsticks,
.ordered-list-breadsticks,
.ul-breadsticks-last,
.bombs-first-ul,
.bombs-first-ol,
.meatballs-first-ul,
.meatballs-first-ol,
.parmesan-first-ul,
.parmesan-first-ol{
    list-style-position: inside;

}

.ul-breadsticks-last{
    list-style-type: none;
}

#breadsticks-buttons,.bombs-button-text,.meatballs-button-text,.parmesan-button-text{
    color:black;
    font-size: 20px;
    
}

.breadsticks-clickhere-button,.bombs-clickhere-button,.meatballs-clickhere-button,.parmesan-clickhere-button{
    background-color: #ff0000;
    
}

img{
    max-width: 100%;
    height: auto;
} */
