* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
  text-align: center;
  font-family: Georgia, "Times New Roman", sans-serif;
}

h2 {
  background-color: blanchedalmond;
  color: blueviolet;
}

button {
  background-color: red;
}

a {
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  color: blueviolet;
}

.pagequestions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 16px;
}

.dinner {
  flex-grow: 1;
  flex-basis: 160px;
}

.craving {
  flex-grow: 1;
  flex-basis: 200px;
}
