body{
background-color: lightgrey;
text-align: center;
font-family: Georgia, "Times New Roman", sans-serif;

}

h2{
    background-color:blanchedalmond;
}

button{
    background-color:red;
}

a{
    color:#000000;
}

img{
    max-width: 100%;
    height: auto;
}