* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  border: 10px double black;
  height: 90vh;
  border-radius: 10px;
  background-color: lightgrey;
  text-align: center;
  font-family: Georgia, "Times New Roman", sans-serif;
}

h2 {
  background-color: blanchedalmond;
  color: blueviolet;
}

button {
  background-color: red;
}

a {
  color: #000000;
  font-size: 16px;
}

img {
  max-width: 40%;
  height: auto;
}

h1 {
  color: rgb(239, 39, 96);
}

.pagequestions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 16px;
}
